<div class="title">カードデッキ</div>
<%= render partial: "/layouts/card_nav" %>

<div class="tweet-container list">
  <div class="hukidasi width-full">
    <p>ここでは、カードデッキを確認・作成することができます</p>
    <p>不要なデッキは解体することができます</p>
  </div>
</div>
<%= render partial: "/layouts/card_deck_list", locals: { decks: @card_decks, deletable: false } %>
