<div class="title">メッセージBOX</div>

<ul class="nav nav-pills nav-justified bg-light">
  <li class="nav-item">
    <a href="#receive" class="nav-link active" data-toggle="tab">受信トレイ</a>
  </li>
  <li class="nav-item">
    <a href="#send" class="nav-link" data-toggle="tab">送信トレイ</a>
  </li>
</ul>

<div class="tab-content">
  <div id="receive" class="tab-pane active">
    <h1>受信トレイ</h1>
    <%= render partial: "/layouts/messages", locals: { messages: @messages, to: false } %>
  </div>

  <div id="send" class="tab-pane">
    <h1>送信トレイ</h1>
    <%= render partial: "/layouts/messages", locals: { messages: @send_messages, to: true } %>
  </div>
</div>
