<% if User.find_by(id: params[:user_id]).present? %>
  <div class="title"><%= User.find(params[:user_id]).name %>にメッセージを送信</div>
<% else %>
  <div class="title">メッセージを送信</div>
<% end %>

<div id="tweet-form" class="tweet-form">
  <div class="prompt">メッセージを送信</div>
  <%= render partial: "/layouts/message_form", locals: { message: @message, user_id: params[:user_id] } %>
</div>

<%= render partial: "/layouts/chat", locals: { messages: @messages } %>
