<div class="title"><%= @message.sender.name %></div>

<div id="tweet-form" class="tweet-form">
  <h2>このメッセージに返信</h2>
  <%= render partial: "/layouts/message_form", locals: { message: @new_message, value: "" } %>
</div>

<%= render partial: "/layouts/chat", locals: { messages: @messages } %>
