<div class="title"><%= @target.name %>にメッセージを送信</div>

<div id="tweet-form" class="tweet-form">
  <div class="prompt">メッセージを送信</div>
  <%= render partial: "/layouts/message_form", locals: { message: @new_message } %>
</div>

<%= render partial: "/layouts/chat", locals: { messages: @messages } %>
