<div class="title">チラモン一覧</div>
<%= render partial: "/layouts/tiramon_nav" %>

<div class="tweet-container list">

  <% if !@tiramons.nil? %>
    <div class="hukidasi width-full">
      <h1>ランキング (<%= @tiramons.size %>)</h1>
      <%= render partial: "/tiramons/tiramons", locals: { tiramons: @tiramons, myTiramon: false, inNegotiation: false } %>
    </div>
  <% end %>

</div>

<%= render partial: "/layouts/tiramon_nav" %>
