<div class="tweet-container list">
  <div class="hukidasi width-full word-break">
    <h1>チラモン情報</h1>
    <div>名前: <%= @data[:name] %></div>
    <div>身長: <%= @data[:height]*100.floor %>cm</div>
    <div>体重: <%= @data[:weight] %>kg</div>
  </div>
</div>
