<div id="tweet-form" class="tweet-form">
  <p class="prompt">今なにしてる？………ごめん。</p>
  <%= render "form", tweet: @new_tweet %>
</div>

<%= render partial: "/layouts/tweets", locals: { tweets: @tweets, show_list: false, show_parent: true } %>
