<% if user_signed_in? && params[:mode] == "mypage" %>
  <%= render partial: "/layouts/user", locals: { user: current_user, tags: Tag.none } %>
<% end %>

<div id="tweet-form" class="tweet-form">
  <div class="prompt"><i class="fas fa-comment"></i> 今なにかんがえてる？</div>

  <% if params[:mode] == "tag" %>
    <% default_value = " ##{params[:tag]}" %>
  <% else %>
    <% default_value = "" %>
  <% end %>

  <%= render partial: "/layouts/form", locals: { tweet: @new_tweet, value: default_value } %>
</div>

<div class="mw-100">
  <div align="center">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- メイン広告 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5849163684087391"
         data-ad-slot="1720426885"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>

<%= render_async tweets_async_path(mode: params[:mode], page: 1, list: "false", reverse: "false", show_parent: "true", infinite_scroll: "true"), event_name: "tweet-loaded" do %>
  <div class="tweet-loading"><i class="fa fa-spinner fa-pulse"></i> Loading...</div>
<% end %>
