<div id="tweet-form" class="tweet-form">
  <div class="prompt">今なに考えてる？</div>

  <% if params[:mode] == "tag" %>
    <% default_value = " ##{params[:tag]}" %>
  <% else %>
    <% default_value = "" %>
  <% end %>

  <%= render partial: "/layouts/form", locals: { tweet: @tweet, value: "" } %>
</div>
