<div>
  <div class="hukidasi text-center">
    <h1 class="">エラー発生！</h1>
    <div class="m-2">
      申し訳ございません。<br />
      何やらエラーが発生したようです…<br />
      発見されたバグは順次修正してまいりますので<br />
      何卒よろしくお願いいたします
    </div>
    <hr />
    <div class="m-2">
      <div>
        次のキーを管理人に伝えると、<br />
        バグの修正がスムーズに行えるかもしれません。
      </div>
      <div class="m-2 big"><%= @key %></div>
    </div>
  </div>
</div>
