<div class="title">チラウラリア公営賭博施設「賽の河原」</div>
<div class="tweet-container list">
  <div class="hukidasi width-full">
    <h1>遊び方</h1>
    <p>ここでは、手持ちのVARTHを使ってゲームをお楽しみいただけます。</p>
    <br />
    <p>ギャンブルは、適度に楽しむ遊びです。</p>
  </div>
</div>
<div class="tweet-container list">
  <div class="hukidasi width-full">
    <h1>ゲーム一覧</h1>
    <div class="m-4"><%= link_to gambling_gambling_path, class: "btn btn-primary w-100" do %>色当てゲーム「シロクロつけよう」<% end %></div>
    <div class="m-4"><%= link_to gambling_path, class: "btn btn-primary w-100 disabled" do %>チラモン闘技場 Coming Soon<% end %></div>
    <div class="m-4"><%= link_to card_battle_path, class: "btn btn-primary w-100" do %>カードバトル<% end %></div>
  </div>
</div>
