<div class="users-mode-changer-container">
  <div class="users-mode-changer-item text-big"><button id="btn-follow" class="btn btn-light">フォロー</button></div>
  <div class="users-mode-changer-item text-big"><button id="btn-follower" class="btn btn-light">フォロワー</button></div>
</div>

<div id="follow" class="view">
  <h1>フォローしているユーザー</h1>
  <%= render partial: "/layouts/follows", locals: { follows: @follows, mode: "follow" } %>
</div>

<div id="follower" class="view">
  <h1>フォローされているユーザー</h1>
  <%= render partial: "/layouts/follows", locals: { follows: @followers, mode: "follower" } %>
</div>

<script>
  $(function () {

    $(".view").hide();
    $("#follow").show();

    $("#btn-follow").click(function () {
      $(".view").hide();
      $("#follow").show();
    });

    $("#btn-follower").click(function () {
      $(".view").hide();
      $("#follower").show();
    });

  });
</script>
