//= require_tree .
//= require_self
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

#loading.loaded {
  opacity: 0;
  visibility: hidden;
}

/* universal */

body{
  padding: 71px 0 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;

  color: var(--color-4r);
  background-color: var(--color-4);
}

*{
  overflow-wrap: break-word;
  word-break: break-all;
}

.overflow-hidden{
  overflow: hidden;
}

p{
  margin: 0;
}

.title:before {
  margin: 0 0.5em 0 0;
  content: "■";
}
.title{
  margin: 0.5em auto;
  padding: 0.1em 0.1em 0.1em 0.5em;
  width: 100%;
  font-size: 200%;
  border-bottom: solid 2px rgba(0,0,0,0.5);
}


h1:before, h2:before, h3:before, h4:before, h5:before {
}
h1, h2, h3, h4, h5 {
  margin: 0.5em auto;
  padding: 0.2em 0.6em;
  width: 100%;
}
h1{
  font-size: 200%;
  background-color: rgba(127,127,127,0.5);
}

h2{
  font-size: 160%;
  background-color: rgba(127,127,127,0.25);
}

h3{
  font-size: 140%;
  background-color: rgba(127,127,127,0.25);
}

h4{
  font-size: 120%;
  background-color: rgba(127,127,127,0.25);
}

h5{
  font-size: 100%;
  background-color: rgba(127,127,127,0.25);
}

.notice{
  margin: 8px auto;
  padding: 16px;

  width: 100%;

  border-radius: 16px 16px 16px 16px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.notice:empty{
  display: none;
}

.tweet-loading{
    margin: 8px auto;
    padding: 16px;

    width: 100%;

    text-align: center;
}

.nothing{
  display: none;

  margin: 8px auto;
  padding: 16px;

  width: 100%;

  text-align: center;
}

.nothing:only-child{
  display: block;
}

.login-user-info-container{
  display: flex;
  flex-flow: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
}

.active-user-info{
  margin-right: 8px;
  padding: 8px;

  overflow: hidden;

  flex: 0 0 auto;

  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  color: var(--color-2r);
  background-color: var(--color-2);
}

.active-user{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active-user-count{
}

.active-user-img{
}

.active-user-img-img{
  width: 24px;
  height: 24px;

  background-color: #FFFFFF;
  border-radius: 100%;
}

.login-user-info{
  margin-left: 8px;
  padding: 8px;

  display: flex;
  flex-flow: row;
  align-items: center;

  flex: 0 0 auto;

  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  color: var(--color-2r);
  background-color: var(--color-2);
}

.login-user-info-img{
  width: 24px;
  height: 24px;

  margin: 2px;
  padding: 2px;

  background-color: #FFFFFF;

  border-radius: 100%;
}

.news-info{
  margin: 0 8px;
  padding: 8px;

  flex: 1 1 0;

  overflow: hidden;

  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  color: var(--color-3r);
  background-color: var(--color-3);
}

.news-content-wrapper{
  position: relative;
  width: 100%;

  overflow: hidden;
}

.news-content{
  position: relative;
  width: 100%;
  max-width: fit-content;

  transform: translateX(0%);

  animation: scrollAnime 10s linear forwards;
}

@keyframes scrollAnime{
  0% {transform: translate(0%);}
  30% {transform: translate(0%);}
  70% {transform: translate(100%);}
  100% {transform: translate(100%);}
}

.news-content-inner{
  position: relative;
  width: fit-content;

  white-space: nowrap;

  transform: translateX(-0%);

  animation: scrollAnimeInner 10s linear forwards;
}

@keyframes scrollAnimeInner{
  0% {transform: translate(-0%);}
  30% {transform: translate(-0%);}
  70% {transform: translate(-100%);}
  100% {transform: translate(-100%);}
}

.footer{
    width: 100%;

    margin: 8px 0px;
    padding: 8px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    color: var(--color-2r);
    background-color: var(--color-2);
}

.footer-item{
  margin: 0px;
  padding: 8px;

  flex: 0 0 auto;
}

.shadow-add{
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.text-shadow{
  text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

.text-big{
  font-size: 150%;
}

.text-small{
  font-size: 50%;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.space{
  margin: 0em 0.5em;
}

.word-break{
  overflow-wrap: break-word;
  word-break: break-all;
}

.nowrap{
  white-space: nowrap;
}

.full{
  width: 100%;
  height: 100%;
}
.width-full{
  width: 100%;
}
.height-full{
  height: 100%;
}

.popup{
  display: none;

  max-width: 90%;
}

.login-user-info a:link{
  color: inherit;
  text-decoration: underline;
}
.login-user-info a:visited{
  color: inherit;
  text-decoration: underline;
}
.login-user-info a:hover{
  color: inherit;
  text-decoration: underline;
  opacity: 0.75;
}
.login-user-info a:active{
  color: inherit;
  text-decoration: underline;
  opacity: 0.5;
}

.footer a{
  color: inherit;
  text-decoration: underline;
}
.footer a:link{
  color: inherit;
  text-decoration: underline;
}
.footer a:visited{
  color: inherit;
  text-decoration: underline;
}
.footer a:hover{
  color: inherit;
  text-decoration: underline;
}
.footer a:active{
  color: inherit;
  text-decoration: underline;
}

a.link-item-image img{
}
a.link-item-image:link img{
  color: inherit;
  text-decoration: none;
}
a.link-item-image:visited img{
  color: inherit;
  text-decoration: none;
}
a.link-item-image:hover img{
  color: inherit;
  text-decoration: none;
  opacity: 0.75;
}
a.link-item-image:active img{
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
}

a.link-item-hukidasi div{
}
a.link-item-hukidasi:link div{
  text-decoration: none;
}
a.link-item-hukidasi:visited div{
  text-decoration: none;
  opacity: 0.75;
}
a.link-item-hukidasi:hover div{
  text-decoration: none;
  opacity: 0.75;
}
a.link-item-hukidasi:active div{
  text-decoration: none;
  opacity: 0.5;
}

.content-uris a{
  margin: 0 0.1em;
  padding: 0.1em;
}
.content-uris a:link{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
}
.content-uris a:visited{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
}
.content-uris a:hover{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  opacity: 0.75;
}
.content-uris a:active{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  opacity: 0.5;
}

.tag a{
  margin: 0 0.1em;
  padding: 0.1em;
}
.tag a:link{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
}
.tag a:visited{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
}
.tag a:hover{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  opacity: 0.75;
}
.tag a:active{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  opacity: 0.5;
}

img.shrinkable{
  max-width: 100%
}

img.round{
  border-radius: 100%;
}

img.fit{
  max-width: 100%;

  border-radius: 8px 8px 8px 8px;
  object-fit: cover;
}

img.thumb{
  border-radius: 8px 8px 8px 8px;
  object-fit: cover;
}

.image_x16{
  object-fit: contain;
  width: 16px;
  height: 16px;
  max-width: 16px;
  max-height: 16px;
}

.image_x24{
  object-fit: contain;
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
}

.image_x32{
  object-fit: contain;
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
}

.image_x48{
  object-fit: contain;
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
}

.image_x64{
  object-fit: contain;
  width: 64px;
  height: 64px;
  max-width: 64px;
  max-height: 64px;
}

.image_x92{
  object-fit: contain;
  width: 92px;
  height: 92px;
  max-width: 92px;
  max-height: 92px;
}

.image_x128{
  object-fit: contain;
  width: 128px;
  height: 128px;
  max-width: 128px;
  max-height: 128px;
}

.zoom{
  transform: scale(1.5);
}
.not-zoom{
  transform: scale(1.0);
}

.tools{
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
}

.control-button{
  width: 64px;
  height: 64px;
  margin: 8px;
  font-size: 32px;
  overflow: hidden;
}

.change-hover-button :first-child{
  overflow: hidden;
  display: block;
  height: auto;
}
.change-hover-button :last-child{
  overflow: hidden;
  display: block;
  height: 0;
}
.change-hover-button:hover :first-child{
  overflow: hidden;
  display: block;
  height: 0;
}
.change-hover-button:hover :last-child{
  overflow: hidden;
  display: block;
  height: auto;
}

.change-active-button :first-child{
  overflow: hidden;
  display: block;
  height: auto;
}
.change-active-button :last-child{
  overflow: hidden;
  display: block;
  height: 0;
}
.change-active-button:active :first-child{
  overflow: hidden;
  display: block;
  height: 0;
}
.change-active-button:active :last-child{
  overflow: hidden;
  display: block;
  height: auto;
}

.change-disabled-button :first-child{
  overflow: hidden;
  display: block;
  height: auto;
}
.change-disabled-button :last-child{
  overflow: hidden;
  display: block;
  height: 0;
}
.change-disabled-button:disabled :first-child{
  overflow: hidden;
  display: block;
  height: 0;
}
.change-disabled-button:disabled :last-child{
  overflow: hidden;
  display: block;
  height: auto;
}

.center{
  text-align: center;
}

.center::before{
  width: 100%;
  height: 100%;

  text-align: center;
  vertical-align: text-bottom;
}

.btn-accent {
  color: var(--color-0r);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-accent:hover {
  color: var(--color-0r);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  box-shadow: 0 0 0 0.2rem rgba(255,157,0,0.5);
}

.btn-accent:focus, .btn-accent.focus {
  box-shadow: 0 0 0 0.2rem rgba(255,157,0,0.5);
}

.btn-accent.disabled, .btn-accent:disabled {
  color: var(--color-0r);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-accent:not(:disabled):not(.disabled):active, .btn-accent:not(:disabled):not(.disabled).active,
.show > .btn-accent.dropdown-toggle {
  color: var(--color-0r);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-accent:not(:disabled):not(.disabled):active:focus, .btn-accent:not(:disabled):not(.disabled).active:focus,
.show > .btn-accent.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,157,0,0.5);
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bottom_nav_space {
  height: 66px;
}

.bottom_nav {
}

.bottom_nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_nav a {
  width: 100%;
}

.bottom_nav i {
  font-size: 2em;
}

.bottom_nav .badge_float {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 0%);
  font-size: 1rem;
}


a{
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
