//= require_tree .
//= require_self

@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */

body {
  padding: 60px 15px 0;

  background-color: #dddddd;
}

.notice{
  margin:  8px auto;
  padding: 16px;

  width: 100%;

  border-radius: 16px 16px 16px 16px;
  box-shadow: 0px 4px 8px;
}

.notice:empty {
  display: none;
}

.login-user-info-container{
  display: flex;
  flex-flow: row-reverse wrap;
}

.login-user-info{
  margin: 0px;
  padding: 8px;

  flex: 0 1 auto;

  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 4px 8px;
}

.shadow{
  box-shadow: 0px 4px 8px;
}

.text-big{
  font-size: 200%;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.width-full{
  width: 100%;
}

.link-item:link{
  color: inherit;
  text-decoration: none;
  transition: all 0.25s ease;
}
.link-item:visited{
  color: inherit;
  text-decoration: none;
  transition: all 0.25s ease;
}
.link-item:hover{
  color: inherit;
  text-decoration: none;
  opacity: 0.75;
  transition: all 0.25s ease;
}
.link-item:active{
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
  transition: all 0.25s ease;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
