//= require_tree .
//= require_self
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */

body{
  padding: 60px 15px 0;

  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;

  color: var(--color-4r);
  background-color: var(--color-4);
}

.title{
  width: 100%;

  font-size: 150%;

  border-bottom: solid 2px rgba(0,0,0,0.5);
}

.notice{
  margin: 8px auto;
  padding: 16px;

  width: 100%;

  border-radius: 16px 16px 16px 16px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.notice:empty{
  display: none;
}

.login-user-info-container{
  display: flex;
  flex-flow: row-reverse wrap;
}

.nothing{
  margin: 8px auto;
  padding: 16px;

  width: 100%;

  text-align: center;
}

.login-user-info{
  margin: 0px;
  padding: 8px;

  flex: 0 1 auto;

  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  color: var(--color-2r);
  background-color: var(--color-2);
}

.login-user-info-img{
  width: 24px;
  height: 24px;

  margin: 4px;
  padding: 2px;

  background-color: #FFFFFF;

  border-radius: 100%;
}

.footer{
    width: 100%;

    margin: 8px 0px;
    padding: 8px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    color: var(--color-2r);
    background-color: var(--color-2);
}

.footer-item{
  margin: 0px;
  padding: 8px;

  flex: 0 0 auto;
}

.shadow{
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.text-big{
  font-size: 150%;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.space{
  margin: 0em 0.5em;
}

.word-break{
  overflow-wrap: break-word;
  word-break: break-all;
}

.full{
  width: 100%;
  height: 100%;
}
.width-full{
  width: 100%;
}
.height-full{
  height: 100%;
}

.popup{
  display: none;

  max-width: 90%;
}

.login-user-info a:link{
  color: inherit;
  text-decoration: underline;
  transition: all 0.25s ease;
}
.login-user-info a:visited{
  color: inherit;
  text-decoration: underline;
  transition: all 0.25s ease;
}
.login-user-info a:hover{
  color: inherit;
  text-decoration: underline;
  opacity: 0.75;
  transition: all 0.25s ease;
}
.login-user-info a:active{
  color: inherit;
  text-decoration: underline;
  opacity: 0.5;
  transition: all 0.25s ease;
}

.footer a{
  color: inherit;
  text-decoration: underline;
}
.footer a:link{
  color: inherit;
  text-decoration: underline;
}
.footer a:visited{
  color: inherit;
  text-decoration: underline;
}
.footer a:hover{
  color: inherit;
  text-decoration: underline;
}
.footer a:active{
  color: inherit;
  text-decoration: underline;
}

a.link-item-image{
}
a.link-item-image:link{
  color: inherit;
  text-decoration: none;
  transition: all 0.25s ease;
}
a.link-item-image:visited{
  color: inherit;
  text-decoration: none;
  transition: all 0.25s ease;
}
a.link-item-image:hover{
  color: inherit;
  text-decoration: none;
  opacity: 0.75;
  transition: all 0.25s ease;
}
a.link-item-image:active{
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
  transition: all 0.25s ease;
}

a.link-item-hukidasi{
}
a.link-item-hukidasi:link{
  color: inherit;
  text-decoration: none;
  transition: all 0.25s ease;
}
a.link-item-hukidasi:visited{
  color: inherit;
  text-decoration: none;
  opacity: 0.75;
  transition: all 0.25s ease;
}
a.link-item-hukidasi:hover{
  color: inherit;
  text-decoration: none;
  opacity: 0.75;
  transition: all 0.25s ease;
}
a.link-item-hukidasi:active{
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
  transition: all 0.25s ease;
}

.content-text a{
  margin: 0 0.1em;
  padding: 0.1em;
}
.content-text a:link{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  transition: all 0.25s ease;
}
.content-text a:visited{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  transition: all 0.25s ease;
}
.content-text a:hover{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  opacity: 0.75;
  transition: all 0.25s ease;
}
.content-text a:active{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  opacity: 0.5;
  transition: all 0.25s ease;
}

.tag a{
  margin: 0 0.1em;
  padding: 0.1em;
}
.tag a:link{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  transition: all 0.25s ease;
}
.tag a:visited{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  transition: all 0.25s ease;
}
.tag a:hover{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  opacity: 0.75;
  transition: all 0.25s ease;
}
.tag a:active{
  color: var(--color-4r);
  background-color: var(--color-4);
  text-decoration: underline;
  opacity: 0.5;
  transition: all 0.25s ease;
}

img.shrinkable{
  max-width: 100%
}

img.round{
  border-radius: 100%;
}

img.fit{
  max-width: 100%;

  border-radius: 8px 8px 8px 8px;
  object-fit: cover;
}

img.thumb{
  border-radius: 8px 8px 8px 8px;
  object-fit: cover;
}

.image_x24{
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
}

.image_x32{
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
}

.image_x48{
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
}

.image_x64{
  width: 64px;
  height: 64px;
  max-width: 64px;
  max-height: 64px;
}

.tools{
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
}

.control-button{
  width: 48px;
  height: 48px;

  margin: 8px;
  padding: 0px;

  font-size: 32px;

  border-radius: 100%;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  overflow: hidden;
}

.center{
  text-align: center
}

.center::before{
  width: 100%;
  height: 100%;

  text-align: center;
  vertical-align: text-bottom;
}
