// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-battle .uraria-card{
  margin: 4px;
  width: 120px;
}

.card-battle .uraria-deck{
  width: 240px;
}

.card-battle .card-name{
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-battle .content-image{
  position:  relative;
}

.card-battle .uraria-card .badge_float{
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
  transform: translate(10%, 0%);
  font-size: 1rem;
}

.card-battle .kira{
  position:  relative;
  box-shadow: 0 0 16px 0 rgba(255, 255, 127, 0.5) inset, 0 0 4px 0 rgba(255, 255, 127, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.5);
}
