// Place all the styles related to the tiraurarian controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


:root {
  --color-0: #111111;
  --color-0r: #ffffff;
  --color-1: #595959;
  --color-1r: #ffffff;
  --color-2: #30618C;
  --color-2r: #ffffff;
  --color-3: #789EBF;
  --color-3r: #111111;
  --color-4: #B4C8D9;
  --color-4r: #111111;
  --color-5: #F2F2F2;
  --color-5r: #111111;
}

/*
:root {
  --color-0: #111111;
  --color-0r: #ffffff;
  --color-1: #6F7D66;
  --color-1r: #ffffff;
  --color-2: #577D41;
  --color-2r: #ffffff;
  --color-3: #B0FD83;
  --color-3r: #111111;
  --color-4: #B2C9A5;
  --color-4r: #111111;
  --color-5: #E0FDCF;
  --color-5r: #111111;
}
*/

/*
:root {
  --color-0: #111111;
  --color-0r: #ffffff;
  --color-1: #4D1F17;
  --color-1r: #ffffff;
  --color-2: #4D0B00;
  --color-2r: #ffffff;
  --color-3: #CC1F00;
  --color-3r: #ffffff;
  --color-4: #991700;
  --color-4r: #ffffff;
  --color-5: #D55640;
  --color-5r: #111111;
}
*/
