// Place all the styles related to the tiraurarian controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-control{
  margin: 0px 8px;
  padding: 0px;

  flex: 0 0 auto;
}

.follow-button {
  width: auto;

  color: #007FFF;
  background-color: #FFFFFF;
  transition: all 0.25s ease;
}

.follow-button:hover{
  color: #FFFFFF;
  background-color: #007FFF;
  transition: all 0.25s ease;
}

.follow-button > span:nth-child(2){
  display: none;
}
.follow-button:hover > span:nth-child(2){
  display: inline-block;
}
.follow-button:hover > span:nth-child(1){
  display: none;
}

.followed-button {
  width: auto;

  color: #FFFFFF;
  background-color: #007FFF;
  transition: all 0.25s ease;
}

.followed-button:hover{
  color: #FFFFFF;
  background-color: #FF0000;
  transition: all 0.25s ease;
}

.followed-button > span:nth-child(2){
  display: none;
}
.followed-button:hover > span:nth-child(2){
  display: inline-block;
}
.followed-button:hover > span:nth-child(1){
  display: none;
}
