// Place all the styles related to the tiraurarian controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-container{
  margin: 8px auto;
  padding: 0px;

}

.follow{
  margin: 8px 0px;
  padding: 16px;

  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: flex-start;

  border-radius: 16px 16px 16px 16px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  color: var(--color-5r);
  background-color: var(--color-5);
}

.follow-info{
  min-width: 0px;
  margin: 0px 8px;
  padding: 0px;

  flex: 1 1 auto;
}

.follow-control{
  margin: 0px 8px;
  padding: 0px;

  flex: 0 0 auto;
}

.follow-name{
  font-size: 150%;
}

.follow-desc{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.follow-button {
  width: auto;

  color: #007FFF;
  background-color: #FFFFFF;
  transition: all 0.25s ease;
}

.follow-button:hover{
  color: #FFFFFF;
  background-color: #007FFF;
  transition: all 0.25s ease;
}

.follow-button > span:nth-child(2){
  display: none;
}
.follow-button:hover > span:nth-child(2){
  display: inline-block;
}
.follow-button:hover > span:nth-child(1){
  display: none;
}

.followed-button {
  width: auto;

  color: #FFFFFF;
  background-color: #007FFF;
  transition: all 0.25s ease;
}

.followed-button:hover{
  color: #FFFFFF;
  background-color: #FF0000;
  transition: all 0.25s ease;
}

.followed-button > span:nth-child(2){
  display: none;
}
.followed-button:hover > span:nth-child(2){
  display: inline-block;
}
.followed-button:hover > span:nth-child(1){
  display: none;
}


.follow-mode-changer-container{
  margin: 8px auto;
  padding: 0px;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: center;

  border-radius: 16px 16px 16px 16px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  color: var(--color-5r);
  background-color: var(--color-5);
}

.follow-mode-changer-item{
  margin: 8px auto;
  padding: 0px;

  flex: 1 0 auto;

  text-align: center;
}

.follow-mode-changer-item-separator{
  margin: 8px auto;
  padding: 0px;

  flex: 0 0 auto;

  text-align: center;
}
