// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-form{
  margin:  8px auto;
  padding: 16px;

  border-radius: 16px 16px 16px 16px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  overflow: hidden;

  color: var(--color-3r);
  background-color: var(--color-3);
}

.tag-container{
  margin: 8px 0px;
  padding: 0px;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: center;
}

.tag{
  margin: 4px;
  padding: 0px;

  flex: 0 1 auto;
}
