// Place all the styles related to the tiraurarian controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet-form{
  margin:  8px auto;
  padding: 16px;

  border-radius: 16px 16px 0px 16px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  overflow: hidden;

  color: var(--color-1r);
  background-color: var(--color-1);
}

.prompt{
  margin: 0.5em 0;
  font-size: 180%;
}

.tweet-container{
  margin: 8px 0px;
  padding: 0px;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: center;
}

.tweet-container.list{
  margin: 8px 0px;
  padding: 0px;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.tweet-container.reverse{
  flex-flow: row-reverse wrap-reverse;
}

.tweet-container.list.reverse{
  flex-flow: column-reverse;
}

.tweet{
  max-width: 100%;

  margin: 4px;
  padding: 0px;

  flex: 0 1 auto;

  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.tweet-reverse{
  max-width: 100%;

  margin: 4px;
  padding: 0px;

  flex: 0 1 auto;
  align-self: flex-end;

  display: flex;
  flex-flow: row-reverse;
  align-items: flex-end;
}

.tweet-left{
  min-width: 0px;

  flex: 0 0 auto;
}
.tweet-right{
  min-width: 0px;

  flex: 1 1 auto;
}

.user-img{
  width: 48px;
  height: 48px;

  margin: 4px;
  padding: 0px;

  object-fit: contain;

  border-radius: 100%;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.hukidasi{
  margin: 4px;
  padding: 16px;

  border-radius: 16px 16px 16px 0px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  overflow: hidden;

  color: var(--color-5r);
  background-color: var(--color-5);
}

.hukidasi.nsfw{
  display: flex;
  flex-flow: column;

  align-items: center;
  justify-content: center;

  color: var(--color-5);
  background-color: var(--color-5r);
}

.tweet-reverse .hukidasi{
  margin: 4px;
  padding: 16px;

  border-radius: 16px 16px 0px 16px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  overflow: hidden;

  color: var(--color-5r);
  background-color: var(--color-5);
}

.tweet-large{
  max-width: 100%;

  margin: 4px;
  padding: 0px;

  flex: 1 1 auto;

  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.user-img-large{
  width: 48px;
  height: 48px;

  margin: 4px;
  padding: 0px;

  object-fit: contain;

  border-radius: 100%;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.hukidasi-large{
  margin: 4px;
  padding: 16px;

  flex: 1 1 auto;

  border-radius: 16px 16px 16px 0px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  overflow: hidden;

  color: var(--color-3r);
  background-color: var(--color-3);
}

.content-control{
  margin: 8px;
  padding: 0px;

  display: flex;

  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.content{
  display: flex;

  flex-flow: row;
  align-items: center;
  align-content: flex-start;

  overflow:hidden;
}

.content-text{
  margin: 8px;
  padding: 8px 16px;

  flex: 1 1 auto;

  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--color-5r);
  background-color: var(--color-5);
}

.content-image{
  margin: 8px;

  flex: 0 0 auto;
}

.content-content{
  margin: 8px 0px;

  flex: 1 1 auto;

  overflow: hidden;
}

.content-other{
  margin: 8px 0px;

  flex: 0 0 auto;
}
.content-desc-parent{
  display: flex;

  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.content-parent-icon{
  margin: 0px 4px;
  flex: 0 0 auto;
}

.content-parent-text{
  flex: 1 1 auto;

  overflow: hidden;
}

.content-desc{
  font-size: 75%;
  opacity: 0.75;
}

.content-desc-left{
  float: left;
}

.content-desc-right{
  float: right;
}

.content-desc-flex-row-right{
  display: flex;

  flex-flow: row;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
}

.content-desc-flex{
  display: flex;

  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.count-comment,.count-bookmark,.count-wakaru,.count-good,.count-bad,.count-layer{
  margin: 0 0.5em;
}

.good-list{
  margin: 8px;
  padding: 0px;

  display: flex;

  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: center;
}

.good-user-img{
  width: 32px;
  height: 32px;

  margin: 4px;
  padding: 0px;

  object-fit: contain;

  border-radius: 100%;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.tweet-addition[aria-expanded="false"] :last-child {
  display: none;
}

.tweet-addition[aria-expanded="true"] :first-child {
  display: none;
}

#imageModal .modal-dialog{
}

#imageModal .modal-content{
}

#imageModal .modal-body{
}

#imageModal img{
  max-height: calc(90vh - 200px);
  object-fit: scale-down;
}
