// Place all the styles related to the tiraurarian controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet-form{
  width: 100%;

  margin:  8px auto;
  padding: 16px;

  border-radius: 16px 16px 0px 16px;
  box-shadow: 0px 4px 8px;

  overflow: hidden;
}

.prompt{
  font-size: 150%;
}

.tweet-container{
  width: 100%;

  margin: 0px;
  padding: 0px;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: center;
}

.tweet-container-list{
  width: 100%;

  margin: 0px;
  padding: 0px;

  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.tweet{
  max-width: 100%;

  margin: 8px;
  padding: 0px;


  flex: 0 1 auto;

  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.user-img{
  width: 48px;
  height: 48px;

  margin: 4px;
  padding: 0px;

  border-radius: 48px 48px 48px 48px;
  box-shadow: 0px 4px 8px;
}

.hukidasi{
  max-width: 100%;

  margin: 4px;
  padding: 16px;

  border-radius: 16px 16px 16px 0px;
  box-shadow: 0px 4px 8px;

  overflow: hidden;
}

.tweet-large{
  max-width: 100%;

  margin: 8px;
  padding: 0px;

  flex: 1 1 auto;

  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.user-img-large{
  width: 64px;
  height: 64px;

  margin: 4px;
  padding: 0px;

  border-radius: 64px 64px 64px 64px;
  box-shadow: 0px 4px 8px;
}

.hukidasi-large{
  width: 100%;

  margin: 4px;
  padding: 16px;

  flex: 1 1 auto;

  border-radius: 16px 16px 16px 0px;
  box-shadow: 0px 4px 8px;

  overflow: hidden;
}

.content-control{
  margin: 8px;
  padding: 0px;

  display: flex;

  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.content{
  width: 100%;

  display: flex;

  flex-flow: row;
  align-items: center;
  align-content: flex-start;

  overflow:hidden;
}

.content-image{
  margin: 8px;

  flex: 0 0 auto;
}

.content-text{
  width: 100%;

  flex: 1 1 auto;

  overflow: hidden;
}

.content-desc{
  width: 100%;

  font-size: 50%;

  overflow:hidden;
}

.content-desc-parent {
  width: 100%;

  display: flex;

  flex-flow: row;
  align-items: center;
  justify-content: flex-start;

  overflow:hidden;
}

.content-parent-text {
  width: 100%;

  margin: 4px;

  flex: 1 1 auto;

  overflow: hidden;
}

.content-desc-name {
  float: left;
}

.content-desc-datetime{
  float: right;
}

.content-desc-flex-row-right{
  display: flex;

  flex-flow: row;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
}


.good-list{
    margin: 8px;
    padding: 0px;

    display: flex;

    flex-flow: row wrap;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: center;
}

.good-user-img{
  width: 32px;
  height: 32px;

  margin: 4px;
  padding: 0px;

  border-radius: 32px 32px 32px 32px;
  box-shadow: 0px 4px 8px;
}
