// Place all the styles related to the tiraurarian controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-container{
  margin: 8px;
  padding: 0px;

  width: 100%;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: center;
}

.user{
  max-width:100%;

  margin: 0px;
  padding: 16px;

  flex: 1 0 auto;

  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: flex-start;

  border-radius: 16px 16px 16px 16px;
  box-shadow: 0px 4px 8px;
}

.user-img-xlarge{
  width: 64px;
  height: 64px;

  margin: 8px;
  padding: 0px;


  border-radius: 64px 64px 64px 64px;
  box-shadow: 0px 4px 8px;
}

.user-info-left{
  max-width: 100%;

  margin: 8px;
  padding: 0px;

  flex: 0 0 auto;
}

.user-info-right{
  max-width: 100%;

  margin: 8px;
  padding: 0px;

  flex: 1 1 auto;
}

.user-control{
  max-width: 100%;

  margin: 8px;
  padding: 0px;

  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.user-control-button{
  width: 48px;
  height: 48px;

  margin: 8px;
  padding: 0px;

  border-radius: 48px 48px 48px 48px;
  box-shadow: 0px 4px 8px;
}

.user-name{
  max-width: 100%;

  margin: 8px;
  padding: 0px;
}

.user-desc{
  max-width: 100%;

  margin: 8px;
  padding: 0px;
}
