<div class="title">チラウラリアの使い方</div>
<div class="tweet-container list info-page">
  <div class="hukidasi width-full">
    <h1>チラウラリアの使い方</h1>

    <h2>かんがえをつぶやく</h2>
    <p>なにはともあれ、かんがえをつぶやいてみましょう。<br />「今なにかんがえてる？」の下に自分がかんがえてることを書き込み、「つぶやく」ボタンを押してみましょう！<br />つぶやいたかんがえはみんなが見ることができます。<br />人が傷つくようなことをつぶやくのはやめましょう。</p>

    <h2>かんがえをつなげる</h2>
    <p>チラウラリアにはみんなのかんがえが並んでいます。<br />かんがえをクリックしてみましょう！<br />かんがえがどのようにつながっているかを見ることができます。<br />また、自分のかんがえをつなげることもできます。</p>

    <h2>ユーザー登録する</h2>
    <p>ユーザー登録することによって、名前やアイコンを設定することができます！<br />オリジナリティを見せつけよう！<br />また、チラウラリアのいろいろな機能をもっと利用することができるようになります。<br />よかったら登録してみてください。</p>

    <h2>ならうよりなれろ</h2>
    <p>チラウラリアは、日々進化していきます。<br />しらない機能がいつの間にか増えているかも？<br />いろいろ試してみましょう！</p>
  </div>
</div>
