<div class="title">チラウラリアの使い方</div>
<div class="tweet-container-list">
  <div class="hukidasi width-full">
    <h1>チラウラリアの使い方</h1>
    <h2>つぶやく</h2>
    <p>チラウラリアは、インターネットバベルの塔です。空高くつぶやきを積み上げていきましょう。</P>
    <h2>レスを付ける</h2>
    <p>チラウラリアは、インターネットバベルの塔です。空高くつぶやきを積み上げていきましょう。</P>
  </div>
  <div class="hukidasi width-full">
    <h1>チラウラリアの目指す姿</h1>
    <p>コンテキストを積み上げていき、「何か」に到達すること</P>
    <p>「誰が言ったか」より「何を言ったか」が重要視される文化</P>
  </div>
</div>
