<div class="title">チラウラリアとは</div>
<div class="tweet-container-list">
  <div class="hukidasi width-full">
    <h1>チラウラリアとは</h1>
    <h2>高みに至るためのSNS</h2>
    <p>チラウラリアは、インターネットバベルの塔です。空高くつぶやきを積み上げていきましょう。</P>
    <p>チラウラリアは、インターネット賽の河原です。何度崩れても諦めずにつぶやきを積み上げ続けていきましょう。</P>
    <p>チラウラリアは、会話のコンテキストを重視した対話型SNSです。コミュニケーションを楽しみましょう。</P>
    <P>もちろん、ハッキングから今晩のおかずまで、なんでもありです。なんでもありとは言っても、公序良俗に反しない程度でご利用ください。</p>
    <p>システム内通貨(VARTH)や、ゲームなどのコンテンツもあります(予定)。</p>

    <p>利用規約をよく読み、正しく楽しくご利用ください。</p>
  </div>
  <div class="hukidasi width-full">
    <h1>チラウラリアの目指す姿</h1>
    <p>コンテキストを積み上げていき、「何か」に到達すること</P>
    <p>「誰が言ったか」より「何を言ったか」が重要視される文化</P>
  </div>
</div>
