<div class="title">チラウラリアとは</div>
<div class="tweet-container list info-page">
  <div class="hukidasi width-full">
    <h1>チラウラリアとは</h1>
    <h2>つみあげるSNS</h2>
    <p>チラウラリアは、インターネット版バベルの塔です。空高くつぶやきをつみあげていきましょう。</p>
    <p>チラウラリアは、インターネット版賽の河原です。何度でもつぶやきをつみあげていきましょう。</p>
    <p>チラウラリアは、なんでもありです。なんでもありとは言っても、公序良俗に反しない程度でご利用ください。</p>

    <p>利用規約をよく読み、正しく楽しくご利用ください。</p>
  </div>
  <div class="hukidasi width-full">
    <h1>チラウラリアの目的</h1>
    <p>みんなの「かんがえ」をつみあげて、「なにか」にたどり着くこと</p>
    <p>みんながつながって、ひとつにはならなくても、「なにか」になること</p>
  </div>
</div>
