<div id="offline">
  <div class="offline-head"><i class="fas fa-sad-tear"></i></div>
  <div class="offline-text">
    <div class="offline-text-title">
      オフライン
    </div>
    <div class="offline-text-text">
      ネットワーク環境を見直して、やり直してください。
    </div>
    <div class="offline-text-botton">
      <%= link_to "戻る", root_path, class: "btn btn-outline-light rounded-pill" %>
    </div>
  </div>
</div>
