<div class="title">プライバシーポリシー</div>
<div class="tweet-container list info-page">
  <div class="hukidasi width-full">
    <h1>プライバシーポリシー</h1>
    <p>
      「チラウラリア」（以下、当サイトとする）は、<a href="https://twitter.com/wakarikaneru">@wakarikaneru</a>（以下、当サイト運営者とする）が管理、運営しています。
    </p>

    <h2>個人情報の利用目的</h2>
    <p>
      当サイトでは、ユーザー登録やつぶやきの際、名前等の個人情報を入力いただく場合がございます。<br />
      これらの個人情報は、ご提供いただく際の目的以外では利用いたしません。
    </p>

    <h2>アクセス解析ツールについて</h2>
    <p>
      当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。<br />
      詳しくは<a href="https://www.google.com/intl/ja/policies/privacy/partners/">https://www.google.com/intl/ja/policies/privacy/partners/</a>を確認してください。
    </p>

    <h2>個人情報の第三者への開示・提供の禁止</h2>
    <p>
      当サイトは、ご利用者様よりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
    </p>
    <ul>
      <li>ご利用者様の同意がある場合</li>
      <li>ご利用者様が希望されるサービスを行なうために当サイトが業務を委託する業者に対して開示する場合</li>
      <li>法令に基づき開示することが必要である場合</li>
    </ul>

    <h2>個人情報の安全対策</h2>
    <p>
      当サイトは、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
    </p>

    <h2>お問い合せ</h2>
    <p>
      当サイトの個人情報の取扱に関するお問い合せは<a href="https://twitter.com/wakarikaneru">@wakarikaneru</a>までご連絡ください。
    </p>
  </div>
</div>
