<div class="title">利用規約</div>
<div class="tweet-container list info-page">
  <div class="hukidasi width-full">
    <h1>利用規約</h1>
    <h2>サイト利用上の注意事項</h2>
    <p>
      「チラウラリア」（以下、当サイトとする）は、<a href="https://twitter.com/wakarikaneru">@wakarikaneru</a>（以下、当サイト運営者とする）が管理、運営しています。<br />
      当サイトを利用される場合は、ここに記載した条件に準拠いただくものとします。当サイトをご利用いただいた時点で、以下利用条件の全てに同意頂いたものとさせて頂きます。
    </p>
    <ul>
      <li>当サイトは、お客様の便宜に供する為のものであり、お客様御自身の責任において利用頂く事ができるものとします。</li>
      <li>第三者、または当サイト運営者に損害や不利益を与える行為、第三者、または当サイト運営者の信用や名誉を損なう行為は禁止とさせて頂きます。</li>
    </ul>

    <h2>免責事項</h2>
    <ul>
      <li>当サイトは、コンテンツの内容が正確であるかどうか、最新のものであるかどうか、安全なものであるか等について保証をするものではなく、何らの責任を負うものではありません。</li>
      <li>当サイト運営者は通知することなく当サイト上の情報の訂正、修正、追加、中断、削除等をいつでも行うことができるものとします。</li>
      <li>当サイト、またはコンテンツのご利用により、万一、ご利用者様に何らかの不都合や損害が発生したとしても、当サイト運営者は一切の責任を負いません。</li>
      <li>当サイトに投稿された情報は、当サイト運営者の判断により削除される事があります。 また、当サイト運営者の裁量によりユーザー停止とする場合あります。</li>
      <li>利用規約は予告なく変更される場合があります。</li>
    </ul>

  </div>
</div>
