<div class="title">VARTH(va)ってなに？</div>
<div class="tweet-container list info-page">
  <div class="hukidasi width-full">
    <h1>VARTH(va)ってなに？</h1>
    <h2>たまる！つかえる！チラウラリアの通貨！</h2>
    <p>
      ユーザー登録すると、VARTH(va)がたまるようになります。これは、チラウラリア内でのみ使える通貨です。<br />
    </p>
    <p>
      このシステムは、当サイトのコンテンツを楽しむことを目的とした、ジョーク機能です。<br />
      あまり本気にならず、ゆるいきもちでご利用ください。<br />
    </p>

    <h2>どうやってためるの？</h2>
    <p>
      つぶやくことによって、つぶやきボーナスとしてVARTHをもらうことができます。<br />
      つぶやきボーナスは、そのときどきによって変動します。
    </p>
    <p>
      また、「チラウラリア証券」にて株式投資をしたり、チラウラリア公営賭博施設「賽の河原」にてふやすことができます。運が良ければ。
    </p>

    <h2>何に使えるの？</h2>
    <p>
      「チラウラリア証券」にて株を購入をしたり、チラウラリア公営賭博施設「賽の河原」にてゲームを遊ぶことができます。
    </p>
    <p>
      また、他のユーザーに送ることもできます。日頃の感謝をつたえるとき、袖の下などにご利用ください。
    </p>
    <p>
      それ以外のことには、使いみちはありません。<br />
      また、実際に景品に交換したり、お金として使えるようになることはありえないので、気をつけましょう。
    </p>

    <h2>注意</h2>
    <p>
      1日1回、チラウラリア税として持っているVARTHを取られてしまいます。<br />
      これは、貧富の差を緩和させ、階層の固定化とそれに伴う社会の硬直化を阻止して、社会的な公平と活力をもたらすための経済政策の一つ、いわゆる「富の再分配」を目的とした機能です。<br />
      圧政国家とか言わずに、笑って許してください。
    </p>
    <p>
      このシステムは、当サイトのコンテンツを楽しむことを目的とした、ジョーク機能です。<br />
      あまり本気にならず、ゆるいきもちでご利用ください。<br />
    </p>

  </div>
</div>
