<div class="active-user">
  <span class="active-user-count">
    <span class="badge badge-pill badge-light"><%= @active_total_count %></span>
  </span>
  <span>
    <% @active_users.map do |user| %>
      <% if user.present? %>
        <%= image_tag user.avatar.url(:thumb), class: "active-user-img-img image_x24" %>
      <% else %>
        <%= image_tag "/images/broken-image.png", class: "active-user-img-img image_x24" %>
      <% end %>
    <% end %>
    <% @active_anonyms_count.times do %>
      <%= image_tag "/images/mystery-person.png", class: "active-user-img-img image_x16" %>
    <% end %>
  </span>
</div>
