<div class="tweet-container">

  <% if decks.blank? %>
    <div class="nothing">データがありません</div>
  <% end %>

  <% decks.map do |deck| %>
    <div class="hukidasi">
      <h3>総合戦闘力 <%= deck.getTotalPower %></h3>
      <div class="content">
        <%= render partial: "/layouts/card_list", locals: { cards: deck.getCard, deletable: false, used_cards: Card.none, is_destroy: false } %>
      </div>
      <div class="content-desc text-right">
        <% if deck.isKing? %>
          <div class="btn btn-success rounded-pill m-1">
            <i class="fas fa-crown"></i>
          </div>
        <% else %>
          <%= link_to deck, method: :delete, class: "btn btn-danger rounded-pill m-1", data: { confirm: "本当に解体しますか？" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="m-4">
    <%= link_to card_deck_creater_path(), class:"btn btn-info rounded-pill m-1" do %>
      <i class="fas fa-plus fa-2x"> 新規作成</i>
    <% end %>
  </div>
</div>
