<div class="users-mode-changer-container">
  <div class="users-mode-changer-item text-big"><%= link_to "カードバトルTOP", card_battle_path(), class:"btn btn-secondary" %></div>
  <div class="users-mode-changer-item text-big"><%= link_to "デッキ", card_decks_path(), class:"btn btn-secondary" %></div>
  <div class="users-mode-changer-item text-big"><%= link_to "カードBOX", cards_path(), class:"btn btn-secondary" %></div>
</div>
