<div class="active-user">

  <span class="active-user-count mx-1">
    <i class="fas fa-user"></i> <%= @users %>
  </span>

  <span> | </span>

  <span class="active-user-count mx-1">
    <span class="badge badge-pill badge-light"><%= @load %></span>
  </span>
  <span>
    <%= @load_str %>
  </span>

</div>
