<div class="active-user">

  <span class="active-user-count">
    <i class="fas fa-user"></i> <%= @users %>
  </span>

  <span> | </span>

  <span class="active-user-count">
    <span class="badge badge-pill badge-light"><%= @load %></span>
  </span>
  <span>
    <%= @load_str %>
  </span>

  <% if user_signed_in? && current_user.id == 1 %>
  <% end %>
</div>
