<%= form_for(message, html: {name:"form", class: "form-horizontal", role: "form"}) do |f| %>

<%= f.hidden_field :user_id %>

<div class="form-group">
  <div class="input-group">
    <%= f.text_field :content, class: "form-control", maxlength: 140, placeholder: "メッセージを入力してください" %>
    <div class="input-group-append">
      <%= f.submit "送信", class: "btn btn-accent" %>
    </div>
  </div>
</div>

<% end %>
