<%= form_tag(remit_points_path, role: "form", method: :post) do %>
  <%= hidden_field_tag :user_id, user_id %>
  <div class="input-group">
    <%= text_field_tag :point, "", class: "form-control", placeholder: "VARTH", size: 10 %>
    <div class="input-group-append">
      <%= button_tag type: "submit", class: "change-active-button btn btn-secondary" do %>
        <span>送信</span>
        <i class="fa fa-spinner fa-pulse"></i>
      <% end %>
    </div>
  </div>
<% end %>
