<div id="tweet-container-sync" class="tweet-container<%= if list then ' list' end %><%= if reverse then ' reverse' end %>">

  <% if tweets.blank? %>
    <div class="nothing">データがありません</div>
  <% end %>

  <% tweets.map do |tweet| %>
    <%= render partial: "/layouts/tweet", locals: { tweet: tweet, show_parent: show_parent} %>
  <% end %>

</div>
