<div class="users-container">
  <% if users.blank? %>
    <div class="nothing">データがありません</div>
  <% end %>

  <% users.map do |user| %>

    <div class="users">
      <div>
        <%= link_to user, class: "link-item-image" do %>
          <% if user.present? %>
            <%= image_tag user.avatar.url(:thumb), class: "user-img" %>
          <% end %>
        <% end %>
      </div>

      <div class="users-info">
        <div class="users-name"><%= user.name %></div>
        <div class="users-desc"><%= user.description %></div>
      </div>
    </div>

  <% end %>

</div>
